.header {
  position: fixed;

  z-index: 1;
  width: 100%;

  margin-top: 48.%;
}

.header h2 {
  text-align: center;
}



.progress-bar {
  height: 4px;
  background: #FBBD23;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}