.searchInputs {
  /* margin-top: 105px; */
  display: flex;
  position: relative;
  z-index: 999;
}
.search ::placeholder{
    font-size: 14px;
  }
.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 46px;
  width: 150px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: -2px 0px 3px -2px grey;
  transition: .5s
}
  
.searchIcon {
  height: 45px;
  width: 42px;
  background-color: white;
  display: grid;
  place-items: center;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 5px 1px 2px -4px grey;
}
  
  input:focus{
    outline: none;
   
  }
  input[type="text"]:focus {
    width: 260px;
    transition: .5s
  }
  input
  .searchIcon svg {
    font-size: 26px;
    color: #00000000 !important;
}
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }