.slider{
    display: flex;
 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSize{
    height: 450px;
    width: 446px;
    padding: 5%;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding-left: 8%;
    font-size: 30px;
}

.text2{
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding-left: 8%;
}