.Basic{
    border: 2px solid black;
    padding: 10px;
    background-color: #EAE3D2;
}
.Premium{
    border: 2px solid blue;
    padding: 10px;
    background-color: #59CE8F;
    color: white;
    transform: scaleY(1.12); 
}
.title{
    font-size: 28px;
    font-weight: 600;
    font-family: cursive;
    margin-top: 10px;
    margin-bottom: 25px;
}
.headding{
    font-size: 20px;
}
.button1{
    margin-top: 30px;
}
.button1{
    margin-top: 30px;
    background-color: #E8F9FD;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
.button2{
    margin-top: 30px;
    background-color: #E8F9FD;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    
}
