.Basic{
    border: 2px solid black;
    padding: 10px;
}
.Premium{
    border: 2px solid blue;
    padding: 10px;
    background-color: #1C3879;
    color: white;
    transform: scaleY(1.12); 
}
.Business{
    border: 2px solid goldenrod;
    padding: 10px;
}
.title{
    font-size: 28px;
    font-weight: 600;
    font-family: cursive;
    margin-top: 10px;
    margin-bottom: 25px;
}
.headding{
    font-size: 20px;
}
.button1{
    margin-top: 30px;
}
.button1{
    margin-top: 30px;
    background-color: #002B5B;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.button2{
    margin-top: 30px;
    background-color: #100720;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    
}
.button3{
    margin-top: 30px;
    background-color: #2B4865;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}