html {
  scroll-behavior: smooth;
}



/* footer {
  background-image: url("https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  position: relative;
  z-index: -100;
  color: white !important;
}
footer:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.837);
  z-index: -100;
}
.footer{
  display: flex;
  flex-direction: column;
} */

.footer-title {
  color: rgba(255, 255, 255, 0.672);
}

.link-hover {
  color: rgba(255, 255, 255, 0.841);
}

/*--------------------------------------------------------------
# video
--------------------------------------------------------------*/
.video {
  margin-bottom: -200px;
}

.video-box {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 20px !important;
  max-width: 68%;
  margin: 0 auto;
  box-shadow: 23px 33px 45px -42px black;

}

.video-box-img {
  width: 100%;
  height: 350px;

}

.video-box-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;

}

.video-box-color {
  position: absolute;
  background: linear-gradient(50deg, #00ADB5 0%, #00acb5cd 100%), url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-box .play-btn {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background: radial-gradient(#00ADB5 50%, #00acb5ad 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

.video-box .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.video-box .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 3s;
  animation: pulsate-btn 3s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid #e61f76;
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.video-box .play-btn:hover::after {
  border-left: 15px solid #E61F76;
  transform: scale(20);
}

.video-box .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/*--------------------------------------------------------------
# counter_up
--------------------------------------------------------------*/

.counter_up {
  /* background:linear-gradient(50deg,#e61f75eb 0%,#f28d88e1 100%),url(../img/portfolio/portfolio-8.jpg);
  background-size: cover;
  background-position: center center; */
  position: relative;
  overflow: inherit;
  padding: 248px 8px 137px;
  color: white;
  text-align: center;
}

.counter_up::before {
  content: '';
  position: absolute;
  background: linear-gradient(50deg, #00ADB5 0%, #00acb5e4 100%), url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: skewY(-6deg);
}

.counter_up span {
  font-size: 33px;
  font-weight: bold;
}

.counterIcon {
  display: block;
  margin: 0 auto;
  font-size: 54px;
}

/* 
Footer © 2022 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About */


ul.react-multi-carousel-track {
  padding-bottom: 42px;
  padding-top: 30px;
  position: relative;
}

.react-multi-carousel-dot-list {
  bottom: -3px;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  position: absolute;
  left: 57px;
  width: 10px;
  top: 0;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  position: absolute;
  right: -2px;
  top: 1px;
  width: 10px;
  left: 0;
}
.react-multiple-carousel__arrow {
  min-width: 48px;
  min-height: 33px;
}

.react-multi-carousel-dot button {
  display: inline-block;
  border-color: #dae3ff;
}

.react-multi-carousel-dot--active button {
  background: #7e7e97;
}

